<% if session[:cart] != {} && session[:cart] %>
    <table class="table table-bordered table-hover bg-light ">
      <thead>
        <tr>
          <th> Product </th>
          <th> Product Name</th>
          <th> Product Price</th>
          <th> Product Quantity</th>
          <th> Total Price </th>
          <th> Actions </th>
        </tr>
      </thead>
      <% session[:cart].each do |_, hsh| %>
        <% product = Product.find(hsh["product_id"]) %>
          <tbody>
            <tr>
              <td><%= image_tag url_for(product.avatar), :alt => "Product image" ,class:"cartimg"%></td>
              <td><%= product.name %></td>
              <td><%= product.price %></td>
              <td><%= hsh["qty"].to_f %></td>
              <td><%= product.price * hsh["qty"].to_f %></td>
              <td><%= link_to 'Delete', remove_path(id: product.id), method: :delete , class: "btn btn-warning btn-sm"%>
            </tr>
          </tbody>
      <% end %>
    </table>


    <p>
      <% sum = 0 %>
      <% session[:cart].each do |_,hsh| %>
        <% product = Product.find(hsh["product_id"]) %>
        <% value = product.price * hsh["qty"].to_f  %>
        <% sum= sum + value %>
      <% end %>
     <h1>Grand Total: <%= sum %> </h1>
    </p>
    <% session[:sum]=sum %>
    <%= link_to 'Place order', payments_index_path(), class: "btn btn-primary"%>
    <%else %>
      <br>
      <h1 class=" display-4 customheading" > You have nothing in cart :( </h1>
      <%= link_to 'Start Shopping', welcome_index_path, class: "btn btn-success btn-lg" %>
<% end %>


