  <table class="table table-bordered table-hover bg-light ">
    <thead>
    <tr>
      <th> Order id </th>
      <th> Product Name </th>
      <th> Product Price </th>
      <th> Product Quantity </th>
    </tr>
    </thead>
      <% @order.line_items.each do |line_item|%>
      <tbody>
      <tr>
        <td><%= @order.id %></td>
        <td><%= line_item.product.name %></td>
        <td><%= line_item.per_price %></td>
        <td><%= line_item.quantity %></td>
       
      </tr>
      </tbody>
    <% end %>

  </table>
  <div class="center ">
    <%= link_to 'Back', admin_orders_path , class: "btn btn-danger btn-lg col-4 "%>
  </div>

