<br>

<h1 class="customheading display-4">Admin Products</h1>

<table class="table table-bordered table-hover bg-light ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th> action </th>
    </tr>
  </thead>

  <tbody>
    <% @admin_products.each do |admin_product| %>
      <tr>
        <td><%= admin_product.name %></td>
        <td><%= admin_product.price %></td>
        <td><%= link_to 'Show', [:admin, admin_product] , class: "btn btn-success btn-sm"%>
        <%= link_to 'Edit', edit_admin_product_path(admin_product), class: "btn btn-warning btn-sm" %>
        <%= link_to 'Destroy', [:admin, admin_product], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Product', new_admin_product_path , class: "btn btn-secondary btn-sm" %>
