<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container ">
    <% if current_user %>
      <%= link_to 'SHOPIFY', welcome_index_path , class: "navbar-brand clogo" %>
    <% else %>
      <%= link_to 'SHOPIFY', new_user_session_path , class: "navbar-brand clogo" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if current_user %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <% category = Category.all %>
        <% category.each do  |category| %>

        <li class="nav-item dropdown" data-dropdown="dropdown">
          <%= link_to category.title, category_path(category.id), class: 'nav-link dropdown-toggle drptoggle', id: 'navbarDropdown', data: { hover: 'dropdown'}  %>



          <div class="dropdown-menu drpmenu" aria-labelledby="navbarDropdown">
            <% i=0 %>
            <% until category.tag_list.count == i %>
              <% if category.title!= category.tag_list[i] %>
                <%= link_to  category.tag_list[i]  , show_subcategory_path(category.tag_list[i]) , class: "nav-item nav-link", style: "color : black "%>

              <% end %>
              <% i= i+1 %>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>




        <form class="d-flex ml-auto navbar-nav">


          <div class="nav-item pr-2 padt-8 <%= 'active' if request.path ==  cart_index_path %>">
           <%= link_to  cart_index_path, :class => "nav-link   " do %>
              <%= fa_icon 'shopping-cart'  %> cart
           <% end %>
           </div>

          <div class="nav-item">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="nav-item uname">
                <%= fa_icon 'user' %> <%= current_user.full_name %>
              </div>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to edit_user_registration_path , class: "dropdown-item " do %>
                  <%= fa_icon 'edit' %> Edit Profile
                <% end %>
              </li>
              <% if current_user.role %>
              <li>
                <%= link_to admin_welcome_index_path , class: "dropdown-item " do %>
                  <%= fa_icon 'user-plus' %> Admin
                <% end %>
              </li>
                <% end %>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to destroy_user_session_path , class: "dropdown-item " ,  method: :delete do %>
                  <%= fa_icon 'sign-out' %> Logout
                <% end %>
              </li>

            </ul>
          </li>
          </div>
        </form>
      </div>
<%end %>
  </div>
</nav>

